
header {
  #background: url ("../images/dashboard.jpg");
  #background-size: cover;
}

h1 {
  font-size: 20pt;
}

h2 {
  font-size: 14pt;
}
h1, h2, h3 {
  font-family: Helvetica
}

header .dashboard {
  width: 100%;
}

header nav{
  text-align: center;
}

.hero {
  position:absolute;
  top:50%;
  text-align:center;
  width:100%;
  font-size:36px;
}

.banner {
  padding-top: 20px;
  padding-bottom: 20px;
}


nav {
	background-color: rgba(255,255,255,0.9);
	position: fixed;
	width: 100%;
  font-family: helvetica
}

nav li {
  display: inline-block;
  padding-left: 18px;
  padding-right: 18px;
}

nav li a {
  text-decoration: none;
  font-size: 11pt;
  color: white;

}

nav ul {
    text-align: center;
    background-color: rgba(0,86,146,0.7);
    padding-top: 5px;
    padding-bottom: 8px;
    border-bottom: 2px solid rgba(60,142,84,0.7);
}

.foods {
    padding-left: 25px;
    padding-right: 25px;
    float: center;
    color: white;
    font-size: 20pt;
    font-family: helvetica;
    text-decoration: none;
    margin-top: -30px;
    z-index: 10;
    position: relative;
}

.block {
  height: 230px;
}

.block img {
  position: absolute;
  width: 16.8%;
  bottom: 0;
}


section ul li h3 {
  padding-left: 15px;
  padding-top: 15px;
  text-decoration: none;
  position: relative;
}


#snacks {
    background-image: url ("../images/dashboard.jpg");
    background: #e09b6c; /* Old browsers */
    background: -moz-linear-gradient(-45deg, #e09b6c 0%, #ce814d 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, #e09b6c 0%,#ce814d 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, #e09b6c 0%,#ce814d 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e09b6c', endColorstr='#ce814d',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    height: 230px;
    width: 16.6%;
    float: left;
}


#lacteos {
    background: #7ac2e2; /* Old browsers */
    background: -moz-linear-gradient(-45deg, #7ac2e2 0%, #4da0ce 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, #7ac2e2 0%,#4da0ce 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, #7ac2e2 0%,#4da0ce 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7ac2e2', endColorstr='#4da0ce',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    height: 230px;
    width: 16.6%;
    float: left;
}

#panificacion {
    background: #fbcb8d; /* Old browsers */
    background: -moz-linear-gradient(-45deg, #fbcb8d 0%, #e3ac5a 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, #fbcb8d 0%,#e3ac5a 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, #fbcb8d 0%,#e3ac5a 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fbcb8d', endColorstr='#e3ac5a',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    height: 230px;
    width: 16.6%;
    float: left;
}

#carnica {
    background: #ff938a; /* Old browsers */
    background: -moz-linear-gradient(-45deg, #ff938a 0%, #d1574b 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, #ff938a 0%,#d1574b 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, #ff938a 0%,#d1574b 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff938a', endColorstr='#d1574b',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    height: 230px;
    width: 16.6%;
    float: left;
}

#bebidas {
    background: #c1717a; /* Old browsers */
    background: -moz-linear-gradient(-45deg, #c1717a 0%, #a35360 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, #c1717a 0%,#a35360 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, #c1717a 0%,#a35360 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c1717a', endColorstr='#a35360',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    height: 230px;
    width: 16.6%;
    float: left;
}

#confiteria {
    background: #f5a9a3; /* Old browsers */
    background: -moz-linear-gradient(-45deg, #f5a9a3 0%, #f69c8d 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, #f5a9a3 0%,#f69c8d 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, #f5a9a3 0%,#f69c8d 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5a9a3', endColorstr='#f69c8d',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    height: 230px;
    width: 16.6%;
    float: left;
}

.brindamos {
  padding-top: 40px;
}
section header {
  text-align: center;
}

section header h1 {
  font-height: 900;
}

body {
  margin:0;
  padding:0;
  border:0;     /* This removes the border around the viewport in old versions of IE */
  width:100%;
  background:#fff;
  min-width:600px;    /* Minimum width of layout - remove line if not required */
          /* The min-width property does not work in old versions of Internet Explorer */
  font-size:90%;
}
a {
  color:#369;
}
a:hover {
  color:#fff;
  background:#369;
  text-decoration:none;
}
h1, h2, h3 {
  margin:.8em 0 .2em 0;
  padding:0;
}
p {
  margin:.4em 0 .8em 0;
  padding:0;
}
img {
  margin:10px 0 5px;
}
#ads img {
  display:block;
  padding-top:10px;
}

/* Header styles */
#header {
  clear:both;
  float:left;
  width:100%;
}
#header {
  border-bottom:1px solid #000;
}
#header p,
#header h1,
#header h2 {
  padding:.4em 15px 0 15px;
  margin:0;
}
#header ul {
  clear:left;
  float:left;
  width:100%;
  list-style:none;
  margin:10px 0 0 0;
  padding:0;
}
#header ul li {
  display:inline;
  list-style:none;
  margin:0;
  padding:0;
}
#header ul li a {
  display:block;
  float:left;
  margin:0 0 0 1px;
  padding:3px 10px;
  text-align:center;
  background:#eee;
  color:#000;
  text-decoration:none;
  position:relative;
  left:15px;
  line-height:1.3em;
}
#header ul li a:hover {
  background:#369;
  color:#fff;
}
#header ul li a.active,
#header ul li a.active:hover {
  color:#fff;
  background:#000;
  font-weight:bold;
}
#header ul li a span {
  display:block;
}
/* 'widths' sub menu */
#layoutdims {
  clear:both;
  background:#eee;
  border-top:4px solid #000;
  margin:0;
  padding:6px 15px !important;
  text-align:right;
}
/* column container */
.colmask {
  position:relative;  /* This fixes the IE7 overflow hidden bug */
  clear:both;
  float:left;
  width:100%;     /* width of whole page */
  overflow:hidden;    /* This chops off any overhanging divs */
}
/* common column settings */
.colright,
.colmid,
.colleft {
  float:left;
  width:100%;     /* width of page */
  position:relative;
}
.col1,
.col2,
.col3 {
  float:left;
  position:relative;
  padding:0 0 1em 0;  /* no left and right padding on columns, we just make them narrower instead 
          only padding top and bottom is included here, make it whatever value you need */
  overflow:hidden;
}
/* 3 Column settings */
.threecol {
  background:#eee;    /* right column background colour */
}
.threecol .colmid {
  right:25%;      /* width of the right column */
  background:#fff;    /* center column background colour */
}
.threecol .colleft {
  right:50%;      /* width of the middle column */
  background:#f4f4f4; /* left column background colour */
}
.threecol .col1 {
  width:46%;      /* width of center column content (column width minus padding on either side) */
  left:102%;      /* 100% plus left padding of center column */
}
.threecol .col2 {
  width:21%;      /* Width of left column content (column width minus padding on either side) */
  left:31%;     /* width of (right column) plus (center column left and right padding) plus (left column left padding) */
}
.threecol .col3 {
  width:21%;      /* Width of right column content (column width minus padding on either side) */
  left:85%;     /* Please make note of the brackets here:
          (100% - left column width) plus (center column left and right padding) plus (left column left and right padding) plus (right column left padding) */
}
/* Footer styles */
#footer {
  clear:both;
  float:left;
  width:100%;
  border-top:1px solid #000;
}
#footer p {
  padding:10px;
  margin:0;
}
